#Compilation products
*.o
*.Po
libLilyEngineUtils.a
#Autotools products
aclocal.m4
autom4te.cache
autoscan.log
configure
configure.scan
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
stamp-h1
#Autotools scripts (get with autoreconf -i)
depcomp
install-sh
missing
